.navbar {
  background-color: #ecf0f1;
  padding: 0.8rem;
}

.navbar-left-link a,
.navbar-right-link a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0.6rem;
  margin: 0 0.5rem;
  color: #2c3e50;
}
.navbar-left-link a:hover,
.navbar-right-link a:hover {
  opacity: 0.75;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-intro {
  pointer-events: none;
  cursor: default;
  color: #3498db !important;
}
