.suggestion-video-card {
  width: 225px;
  height: 200px;
  margin: 0.5rem auto;
  box-shadow: -1px 1px 9px 0px rgba(238, 238, 238, 1);
}

.suggestion-video-card:hover {
  opacity: 0.8;
}

.suggestion-video-card a {
  text-decoration: none;
  color: #2c3e50;
}

.suggestion-video-card a .suggestion-video-img {
  display: block;
  margin: 0.5rem auto;
}

.suggestion-video-title,
.suggestion-video-author {
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 0;
}
